[submodule "in2p3_2021/reveal.js"]
	path = in2p3_2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "ITA2021/reveal.js"]
	path = ITA2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "ML-IAP2021/reveal.js"]
	path = ML-IAP2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "UDOPIA2021/reveal.js"]
	path = UDOPIA2021/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Moriond2022/reveal.js"]
	path = Moriond2022/reveal.js
	url = https://github.com/EiffL/reveal.js.git
